@{
    this.ViewData["Title"] = "Adding recipe";
}
<h3 class="text-center">Create your recipe.</h3>
<form method="post" class="col-5 text-center">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name">
    

</form>